.terminal {
    display:inline-block;
    width:450px;
    background-color:#1e1e1e;
    margin-right:11.5%;
    height:270px;
    /* animation:fadeDelay 1.7s ease; */
    border-radius:9px;
    direction:ltr;
    overflow:hidden;
    box-shadow:1px 1px 7px 1px rgba(0, 0, 0, 0.7);
    z-index:2;
    color:whitesmoke;
    position:absolute;
    top:37.5%;
    font-size:14px;
    border:1px solid #80808067;
    font-family:'Lucida Sans Unicode', Verdana, sans-serif;
    word-spacing:1px;
}

.windowBar, .tab {
    font-size:14px;
    text-align:center;
}

.showWindow {
    display:block;
    height:74%;
}

.hideWindow {
    display:none;
}

.terminalStatus {
    color:#b2b2b2;
}

.folderDefaults:before {
    content:'';
    display:inline-block;
    height:13px;
    border-radius:2px;
    position:absolute;
    margin-left:-22px;
}

.terminalStatus:before {
    width:16px;
    top:27%;
    background-image:linear-gradient(to right, #4abdf4 0%, #51d0f9 50%, #48b8f0 100%);
    box-shadow:0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    z-index:2;
}

.folderBack:before {
    width:16px;
    top:21%;
    background-color:#41a9e1;
}

.folderTab:before {
    width:8px;
    top:17%;
    background-color:#41a9e1;
}

.windowBar {
    background-color:#363636;
    height:13%;
    display:flex;
    align-items:center;
    justify-content:center;
    position:relative;
}

.windowBar button {
    background-color:#9c9c9c;
    border-radius:50%;
    height:11px;
    width:11px;
    margin-left:6px;
}

.windowBar .btnContainer {
    position:absolute;
    left:1px;
}

.tabList {
    transition:0.09s;
    display:flex;
}

.tabList.show {
    height:13%;
    opacity:1;
}

.tabList.hide {
    height:0px;
    overflow:hidden;
    opacity:0;
}

.tab {
    display:inline-block;
    /* background-color:#1d1d1d; */
    /* border-left:1px solid #3a3b3d; */
    flex-grow:1;
    transition:0.1s;
}

.tab.inactive:hover {
    background-color:#2e2e2e;
}

.tab a {
    padding:3px 15px;
    cursor:pointer;
    transition:0s !important;
    height:100%;
}

.active {
    background-color:#363636;
    color:#e5e5e5;
}

.inactive {
    color:#7c7c7c;
}

.prependLine {
    margin-right:7px;
    white-space:nowrap;
}

.textContainer {
    /* font-family:monospace; */
    height:100%;
    position:relative;
    border-bottom:1px solid rgb(25, 25, 25);
}

.lastLogin {
    padding-left:7px;
}

.terminalContent {
    background:transparent;
    width:100%;
    height:100%;
    padding:8px 10px 0 0;
    color:white;
    border:0;
    overflow-y:scroll;
}

.terminalContent .line {
    padding-left:7px;
}

.terminalContent::-webkit-scrollbar {
    background:#2b2b2b;
    width:10px;
    border-left:1px solid #80808067;
}

.terminalContent:focus-visible {
    outline:0;
}

.terminalContent::-webkit-scrollbar-thumb {
    background-color:#6b6b6b;
    border-radius:12px;
}

.currentLine {
    caret-color:transparent;
    outline:none;
    white-space:nowrap;
}

.currentLine::after {
    content:'';
    position:absolute;
    width:6px;
    height:15px;
    margin-top:4px;
    margin-left:2px;
    background-color:#fffffff2;
    animation: blink 1.5s infinite ease;
}

.currentText {
    white-space:pre;
}

@keyframes blink {
    0% {
        opacity:0;
    }
    45% {
        opacity:0;
    }
    55% {
        opacity:1;
    }
}

@media (max-width:991px) {
    .terminal {
        margin-right:9%;
    }
}

@media (max-width:576px) {
    .terminal {
        left:50%;
        transform:translate(-50%, 0);
        width:95%;
        top:37.5%;
    }
}
