.hero {
    height:100vh;
    position:relative;
    direction:rtl;
}

.titleContainer {
    position:absolute;
    right:12%;
    top:22%;
    color:whitesmoke;
    z-index:1;
}

.title {
    font-size:77px;
    margin:0;
}

.subtitle {
    font-size:37px;
    margin:0;
}

@media (max-height:900px) {
    .hero {
        height:825px;
    }
}

@media (max-width:991px) {
    .titleContainer {
        right:9.5%;
    }
}

@media (max-width:576px) {
    .titleContainer {
        top:14%;
    }
    .title {
        font-size:74px;
    }
    .subtitle {
        font-size:34px;
    }
    .title span {
        display:block;
    }
}

@media (max-width:420px) {
    .titleContainer {
        right:5%;
    }
    .subtitle {
        font-size:32px;
    }
}
