.switchContainer {
    padding:5px 1px;
    display:inline-block;
    position:fixed;
    top:50%;
    /* top:calc(50% - 20px); */
    transform:translate(0, -50%);
    z-index:2;
    background-color:#141414b7;
    transition:0.2s;
    left:12px;
    border-radius:20px;
    box-shadow:0px 0px 3px 0px rgba(0, 0, 0, 0.2);
}

.iconContainer {
    display:flex;
    height:19px;
    width:19px;
    overflow:hidden;
    margin:10px 9px;
    border-radius:50%;
}

.icon {
    width:100%;
}

.icon button {
    cursor:pointer;
}

.iconBlue { /* Avoid scoping this? */
    background-color:#2282ff;
}
.iconPurple {
    background-color:#8506da;
}
.iconYellow {
    /* background-color:#ffd700; */
    background-color:#e4b62e;
}
.iconOrange {
    background-color:#e78030;
}
.iconTeal {
    background-color:#018e94;
}

@media (max-width:576px) {
    .switchContainer {
        bottom:4px;
        top:auto;
        left:50%;
        transform:translate(-50%, 0);
        padding:0;
        display:flex;
    }
}
