@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300;400&display=swap');
@import 'variables.scss';
@import 'nav.scss';

* {
    box-sizing: border-box;
}

html, body {
    padding: 0;
    margin: 0;
    font-family: 'Merriweather Sans', sans-serif;
}

#__next {
    overflow:hidden;
}

ul {
    list-style:none;
    padding-left:0px;
    margin:0;
    li {
        margin:0;
        padding:0;
    }
}

body {
    background-color:rgb(30, 30, 30);
}

a {
    color: inherit;
    text-decoration: none;
}

input, button {
    -webkit-appearance:none;
    border:0;
}

// themes
.blueTheme {
    background-color:$blue;
}
