@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300;400&display=swap');
@import 'variables.scss';
@import 'nav.scss';

// ------------------------------------------ Ground Rules
* {
    box-sizing: border-box;
}
html, body {
    padding:0;
    margin:0;
    font-family:'Merriweather Sans', sans-serif;
}
body {
    background-color:$black;
}
#__next {
    overflow:hidden;
}
ul {
    list-style:none;
    padding-left:0px;
    margin:0;
    li {
        margin:0;
        padding:0;
    }
}
a {
    color:inherit;
    text-decoration:none;
    transition:0.2s;
}
p {
    margin:0px 0px 3px 0px;
}
input, button {
    -webkit-appearance:none;
    border:0;
}

// ------------------------------------------ Page Structure
.container {
    max-width:1500px;
    padding:0 15px;
    margin:auto;
}
.section {
    font-size:17px;
}
.grid {
    display:grid;
    grid-template-columns:repeat(auto-fit, minmax(0px, 1fr));
    height:100%;
}
.centre {
    display:flex;
    justify-content:center;
    align-items:center;
}
footer {
    background-color:$black;
    // border-width:1px 0px 0px 0px;
    // border-style:solid;
    border-top:1px solid #2d2d2d;
    padding:25px 0 20px 0;
    position:relative;
    z-index:1;
    color:$offwhite;
    .dividerContainer {
        display:flex;
        align-items:center;
        .name {
            flex-grow:1;
        }
        .divider {
            height:1px;
            width:85%;
            // background-color:#abaaaa;
            background-image:linear-gradient(to right, #ffffff65 0, #ffffff82 10%, #ffffff95 33%, #ffffff95 66%, #ffffff82 90%, #ffffff65 100%);
        }
    }
    .linkContainer {
        margin-top:-14px;
        text-align:right;
        a {
            margin-left:20px;
        }
    }
}

// ------------------------------------------ Aesthetic Modifiers
.theme {
    &.background {
        &.blueTheme {
            background-color:$blue;
        }
        &.redTheme {
            background-color:$red;
        }
        &.purpleTheme {
            background-color:$purple;
        }
    }
    &.hover:hover {
        &.border-left {
            &.blueTheme {
                border-left-color:$blue;
            }
            &.redTheme {
                border-left-color:$red;
            }
            &.purpleTheme {
                border-left-color:$purple;
            }
        }
    }
    &.trim {
        &.blueTheme {
            border-color:$blue;
        }
        &.redTheme {
            border-color:$red;
        }
        &.purpleTheme {
            border-color:$purple;
        }
    }
    &.links {
        &.blueTheme a:hover {
            color:$blue;
        }
        &.redTheme a:hover {
            color:$red;
        }
        &.purpleTheme a:hover {
            color:$purple;
        }
    }
}

// ------------------------------------------ Responsive Design
@media (max-width:1500px) {
    .container {
        max-width:95%;
    }
    .section {
        font-size:16px;
    }
}

@media (max-width:1300px) {
    footer .dividerContainer .divider {
        width:75%;
    }
}

@media (max-width:767px) {
    footer {
        .dividerContainer {
            flex-wrap:wrap;
            .divider {
                margin:7px 0;
                width:100%;
            }
        }
        .linkContainer {
            margin-top:0;
        }
    }
}
